<div class="input-group mb-2">
    <input class="form-control" name="url" placeholder="Enter Youtube URL" [(ngModel)]="URL" (keyup.enter)="updateURL()">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="updateURL()">Play</button>
    </div>
</div>
