<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-4">
      <app-history></app-history>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <app-search-bar></app-search-bar>
        </div>
      </div>
      <div class="row">
        <div class="col-12 border p-0" style="height: 50vh">
          <app-video-view></app-video-view>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="row mb-1">
        <div class="col-12">
          <app-add-to-bookmarks></app-add-to-bookmarks>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-12">
          <app-bookmarks></app-bookmarks>
        </div>
      </div>


    </div>
  </div>

</div>