<div class="btn-group dropleft">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="bookmarks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Bookmarks <span class="badge badge-light">{{getNoOfBookmarks()}}</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="bookmarks">
        <a class="dropdown-item" href="#" *ngFor="let entry of bookmarkService.getEntries(); let i = index" (click)="loadVideo(entry)">{{entry}}</a>
    </div>
</div>